*~
*.swp
*.swo
*.zip
__pycache__
out/
.idea
compilation/compile-tigress*
temp_folder
src_*/output
output
unobfuscated_files
coreutils-merge/coreutils-8.32
coreutils-merge/coreutils-9.5
build/
build
coreutils-merge/
coreutils-merge
coreutils
coreutils/
coreutils/coreutils-9.5/
coreutils-9.5
coreutils-9.7
llvm-obfuscator/
llvm-obfuscator
filesender
/helper/gcc-8.1.0
gcc8
gcc-8.1.0
gcc
isl-isl-0.15
freebsd/freebsd-src
freebsd
git_repos/cil
tigress-versions/tigress
tigress-versions/tigresspkg